.container-rapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
@media screen and (max-width:768px){
    .container-rapper {
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
        justify-content: center;
    } 
    .child_container {
        padding: 10px;
        width: 85%;
    }  
}
@media screen and (min-width:1024px){
    .container-rapper {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 50px;
        justify-content: center;
    } 
    .child_container {
        padding: 10px;
        width: 85%;
    }  
}
@media screen and (max-width:550px){
    .container-rapper {
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
        justify-content: center;
    } 
    .child_container {
        padding: 10px;
        width: 85%;
    }  
}
/* @media screen and (min-width:800px){
    .container-rapper {
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
        justify-content: center;
    } 
    .child_container {
        padding: 10px;
        width: 85%;
    }  
} */
.container {
    position: relative;
    
    
}
.child_container {
    background-color: gainsboro;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 150px;
    position: absolute;
    /* top: o.5px; */
    bottom: -30px;
}
.child_container p {
    font-size: 0.8rem;
}